<h1 class="aa">アーティスト一覧</h1>
	<div class="artist_index_big_box">
		<% @artists.each do |artist| %>
	    	<div class="artist_index_article" >
		    	<div class="artist_index_artist_image">
	 		   		<%= attachment_image_tag artist, :image, :size => '200x200' %>
				</div>
			   	<div class="row">
   			   		<div class="col-lg-8">
						<table class="table table-striped">
							<tr>
	 	  						<td class="col-xs-1">名前</td>
	 	  						<td><%=link_to artist.artist_name, artist_path(artist.id) %></td>
	 	  					</tr>
	 	  					<tr>
    							<td>詳細</td>
	    						<td><%= artist.introduction %></td>
	    					</tr>
	    				</table>
	    			</div>
				</div>
			</div>
		<% end %>
	</div>

<%= paginate @artists, class: "paginate" %>