<div class="main_index_image">
		<script type="text/javascript">
   			var imglist = new Array(
      		"kari.jpg",
      		"kari4.jpg",
      		);
   			var selectnum = Math.floor(Math.random() * imglist.length);
   			var output = "<img src=/assets/" + imglist[selectnum] + ">";
	   		document. write(output);
		</script>
</div>

<h1>最近追加されたイベント</h1>
	<div class="main_event_big_recent">
		<% @events.each do |event| %>
			<div class="main_index_recent">
				<div><%= attachment_image_tag event, :image, :size => "200x200" %></div>
				<div class="event_name"><%=link_to event.event_name, event_path(event.id) %></div>
			</div>
		<% end %>

	</div>





<h1>最近の追加されたアーティスト</h1>
<div class="main_event_big_recent">
	<% @artists.each do |artist| %>
		<div class="main_index_recent">
			<div><%= attachment_image_tag artist, :image, :size => "200x200" %></div>
			<div class="artist_name"><%=link_to artist.artist_name, artist_path(artist.id) %></div>
		</div>
		<% end %>
</div>

