/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}



header {
	background-color: white;
	width: 100%;
	height: 100px;
  	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.16);
  	display: inline-block;
}

.header_logo {
  width: 267px;
  height: 100px;

}
.header_logo img{
  width: 267px;
  height: 100px;
}
.mains_index_header.clearfix{
  background-color: black;
}

.mains_index_header_item {
	width: 150px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	line-height: 100px;
	background-color: lightgray;
	text-align: center;
  background-color: black;
}

  body {
    background-image: url("haikei2.jpeg");
    
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  }

footer{
  width: 1440px;
  height: 100px;
  padding-left: 0px;
  background-color: black;
}
