// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*アーティスト投稿*/

.artist_new_space{
  width: 100%;
  height: 20px;

}

.artist_new{
  width: 60%;
  border-style: solid;
  margin:0 auto;
  text-align: center;
  padding-bottom: 10px;
}

/*アーティスト一覧*/
.aa{text-align: center;}

.artist_index_big_box{
  width: 80%;
  margin:0 auto;

}

.artist_index_article{
  width: 100%;
  height: 300px;
  margin :0 auto;
  margin-top: 10px;
}

.artist_index_artist_image{
  width: 200px;
  height: 200px;
  float: left;
}

.artist_index_artist_name{
  width: 600px;
  height: 100px;
  float: left;


}

.artist_index_artist_introduction{
  width: 600px;
  height: 100px;
  float: left;
}


/*アーティスト詳細*/

.artist_show_big_box{
  width: 80%;
  margin:0 auto;
  padding-top: 20px;
}
.artist_show_row{
  padding-top: 30px;
}
.artist_show_box{
  width: 100%;
  height: 300px;
}
.artist_show_artist_image{
  padding-top: 30px;
  float: left;
}

.col-lg-8{
  padding-top: 10px;
}

.col-xs-6{
  word-break: break-all;
}
.table_image{
  width: 600px;
}

.artist_show_comment_count{
  width: 80%;
  height: 50px;
  text-align: center;
  font-weight: bold;
  margin:0 auto;

}



.artist_edit_big_box{
  width: 80%;
  height: 300px;
  margin:0 auto;

}
.artist_edit_artist_image
{
  float: left;
}

.artist_edit_table{
  float: left;
  border:solid;

}
