// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_image{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	background-image:url("/images/kari4.jpg");
	background-size: 100% 400px;
}
.main_index_image img{
	width: 100%;
	height: 400px;
	margin: 0 auto;
	opacity: 0.8;
}


.main_event_big_recent{
	width: 80%;
	height: 400px;
	margin:0 auto;

}


.main_event_big_recent_artist{
	width: 80%;
	height: 300px;
	margin:0 auto;

}
.main_index_recent{
	width: 200px;
	height: 400px;
	display: inline-block;
	margin-right: 42px;
	margin-left: 42px;
	float: left;
}

.main_index_recent_artist{
	width: 200px;
	height: 300px;
	display: inline-block;
	margin-right: 42px;
	margin-left: 42px;
	float: left;
}
.event_name{
	width: 200px;
	height: 200px;
	word-break: break-all;
}

.main_name{
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	font-family: 'Cherry Swash', cursive;
}
.event_name{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
.artist_name{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

.event_avg{
	font-weight: bold;
	color: red;
	font-size: 24px;
	font-family: 'Amatic SC', cursive;
	text-align: center;

}