.dm_box{
	width: 60%;
	margin: 0 auto;
}

.entries{
	padding-left: 50px;
}
.messages{
	padding-left: 50px;
	font-size: 24px;
	word-wrap: break-word;
}
.dm_form{
	padding-left: 50px;
}

.dm{
	text-align: center;
}