// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*詳細ページ*/

.user_show_bigbox{
	width: 80%;
	height: 450px;
	margin:0 auto;
}


.user_show_image{
	width: 30%;
	height: 300px;
	float: left;
	border:solid;
	border-color: lightgray;
	border-radius: 50%;
}

.user_show_image img{
	width: 100%;
	height: 300px;
	border-radius: 50%;
}
.user_show_profile{
	width: 70%;
	height: 300px;
	float: left;

}
.handle_name{
	text-align: left;

}
.user_show_dm{
	width: 30%;
	height: 30px;
	float: left;
}

.user_show_dm_button{
	font-weight: bold;
	width: 100%;
	padding-bottom: 0px;
	height: 30px;

}
.user_show_space{
	width: 70%;
	height: 30px;
	float: left;
}
.user_show_introduction{
	width: 100%;
	height: 100px;
	float: left;
	border: groove #00FFFF;

}
.user_show_introduction_p{
	font-weight: bold;
}


/*編集ページ*/

.user_edit_bigbox{
	width: 80%;
	margin:0 auto;
}


.user_edit_image{
	width: 30%;
	height: 300px;
	float: left;
}
.user_edit_profile{
	width: 70%;
	height: 300px;
	float: left;

}
.user_edit_dm{
	width: 30%;
	height: 200px;
	float: left;
}
.user_edit_space{
	width: 70%;
	height: 200px;
	float: left;
}
.user_edit_introduction{
	width: 100%;
	height: 300px;
	float: left;
	border:dashed;
}